<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <router id="admin">
        <route id="indexer" frontName="indexer">
            <module name="DGTeam_Reindex" before="Magento_Indexer" />
        </route>
    </router>
</config>